<div id="navigation">
  <p class="pull-right"><%= link_to "Update your notification settings", settings_path %></p>
  <p class="small muted">
  This app is a little experiment from <strong><a href="http://twitter.com/practicingruby" class="muted">@practicingruby</a></strong>
  </p>
</div>
