<div class="column">
  <h1>Congrats! Today you shipped...</h1>

  <p class="lead"><%= @goal.description %></p>

  <p class="pull-left"><em>Good job, buddy. You rock!</em></p>
  <a href="/home/reset" class="pull-right">Ready to ship something else?</a>
</div>
