<!DOCTYPE html>
<html>
<head>
  <title>Shipit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="https://github.com/elm-city-craftworks/shipitdaily"><img style="position: absolute; top: 0; right: 0; border: 0;" 
    src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

<%= yield %>

</body>
</html>
